main{
    position: relative;
}

.principal{
    position: absolute;
    margin-top: 5rem;
}

.hero-1{
    position: relative;
    width: 100vw;
    height: 300px;
    border-bottom-right-radius: 40px;
    z-index: 1;
}

.hero-banner{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/Fachada-background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 40px;
}

.overlay{
    width: 100%;
    height: 100%;
    background: #781593;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 40px;
}

.hero-banner-2{
    width: 100vw;
    height:320px;
    transform: translateY(-5px);    

}

.background-img{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 25% auto 1fr;
    row-gap: 8px;
    transform: scaleY(1.2); 
}
.empresa{
    align-self: flex-end;
    grid-row: 1;
    height: 27px;
    width: 150px;
    display: flex;
    justify-content: center;
    background-color: #74FA92;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.empresa span {
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    align-self: center;
}

.empresa_text{
    grid-row: 2;
    display: flex;
    justify-content: center;
}

.empresa_text p{
    width: 174px;
    align-self: center;
    text-align: center;
    font-family: 'Russo One', sans-serif;  
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: white;
    text-shadow: 0px -1px 2px #000000;
}

.carro{
    grid-row: 3;
    display: grid;
    grid-template-columns: 40% 60%;    
}

.carro_text{
    justify-self: center;
    align-self: center;
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 87.5%;
    color: #7CFE99;
}

.img_carro{
    grid-column: 2;
    background-image: url(../images/caro2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translateY(-10px);
}

.owl-carousel{
    z-index: 999;
}

.hero-3{
    transform: translateY(26px);
    width: 100vw;
    height:425px;
    position: relative;
    z-index: 2;
   
}

.banner-3{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/texture.png);
    background-size:cover;
    background-repeat: no-repeat;
    border-bottom-right-radius: 40px;
    -webkit-box-shadow: inset 4px 31px 18px -23px rgba(0, 0, 0, 0.496);
    box-shadow: inset 4px 31px 18px -23px rgba(0, 0, 0, 0.557) ,0px 0px 15px 5px rgba(53, 2, 46, 0.811);
    display: grid;
    grid-template-rows: 25% auto 1fr;

}


.servico{
    justify-self: flex-end;
    align-self: center;
    grid-row: 1;
    height: 35Px;
    width: 150px;
    display: flex;
    justify-content: center;
    background-color: #74FA92;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.servico span {
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    align-self: center;
}

.carro-servico{
    grid-row: 2 / 4;
    background-image: url(../images/Frame\ 3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:top center;
    transform: scale(0.9);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr;
}

.button_injecao{
    width: 60%;
    height: 70%;
    grid-row: 1;
    grid-column: 1;
}

.button_embreagem{
    width: 60%;
    height: 70%;
    align-self: flex-end;
    grid-row: 2;
    grid-column: 1;
}

.button_montagem{
    width: 60%;
    height: 70%;
    align-self: flex-end;
    grid-row: 3;
    grid-column: 1;

}

.button_escapamento{
    width: 60%;
    height: 60%;
    grid-row: 4/6;  
    align-self: center;
  
}

.button_troca{
    justify-self: flex-end;
    width: 60%;
    height: 70%;
    grid-row: 1;
    grid-column: 2;
}

.button_suspencao{
    justify-self: flex-end;
    transform: translateY(10px);   
    width: 60%;
    height: 70%;
}

.button_freio{
    justify-self: flex-end;
    transform: translateY(10px);
    width: 60%;
    height: 70%;
}

.button_alinha{
    justify-self: flex-end;
    width: 60%;
    height: 60%;
    grid-row: 4/6;
    align-self: center;

}
@media screen and (max-width:320px){
    .button_alinha{
        justify-self: flex-end;
        width: 60%;
        grid-row: 4;
        height: 100%;
        grid-column: 2;
     
    }
    .button_escapamento{
        justify-self: flex-start;
        width: 60%;
        grid-row: 4;
        height: 100%;
        grid-column: 1;
        
    }
   .button_freio{
    justify-self: flex-end;
    align-self: flex-end;
    width: 60%;
    height: 70%;
    grid-row: 3;
    transform: translateY(-15px);
    grid-column: 2;
}

.button_suspencao{
    justify-self: flex-end;
    align-self: flex-end;
    width: 60%;
    height: 70%;
    grid-row: 2;
    grid-column: 2;
    transform: translateY(-10px);
}

}

@media screen and (min-width:390px){
    .button_suspencao{
        transform: translateY(20px);   
    }
    .button_freio{
        transform: translateY(15px);   
    }
}

@media screen and (min-width:412px){
    .button_suspencao{
        transform: translateY(25px);   
    }
    .button_freio{
        transform: translateY(25px);   
    } 
}

.depoimentos{
   
    width: 100vw;
    height: 1130px;
    position: relative;
    z-index: 1;
    transform: translateY(-20px);
    background-color: #370341;
    overflow-x: hidden;
    border-bottom-right-radius: 30px;
    box-shadow:0px 0px 15px 5px rgba(0, 0, 0, 0.811);
}

.img-depoimentos{
    width: 100vw;
    height: 100%;
    opacity: 0.6;
    background-image: url(../images/fundo\ depoimentos.png);
    -webkit-box-shadow: inset 0px -200px 155px -22px rgba(36,2,36,1);
    -moz-box-shadow: inset 0px -200px 155px -22px rgba(36,2,36,1);
    box-shadow: inset 0px -200px 155px -22px rgba(36,2,36,1);
}

.container-img{
    width: 100%;
    height: 700px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(171,60,170,0.7679446778711485) 0%, rgba(125,31,147,0.7903536414565826) 25%, rgba(106,17,131,1) 63%, rgba(83,5,106,1) 85%);
}

.depoimemtos-text{
    position:absolute;
    align-self: flex-end;
    margin-top: 100px;
    height: 35px;
    width: 150px;
    display: flex;
    justify-content: center;
    background-color: #74FA92;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 2;
}

.depoimemtos-text span {
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    align-self: center;
}

.carrossel-depoimentos{
    position: absolute;
    margin-top: 170px;
}

.ofertas{
    position: absolute;
    z-index: 999;
    width: 100vw;
    height: 700px;
    background-color: rgba(0, 0, 0, 0);
    transform: translateY(-350px);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.carro-oferta{
    grid-column: 1;
    background-image: url(../images/Frame\ 4.png);
    align-content: flex-start;
    background-repeat: no-repeat;
}

.whatsappbutton{
    position: absolute;
    width: 240px;
    height: 50px;
    bottom: 40px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: #74FA92;
    transition: all .5s;
    opacity: 0;
    display: grid;
    grid-template-columns: 20% 80%;
}

.img-icon-whatsapp{
    grid-column: 1;
    background-image: url(../images/WhatsApp\ 2.png);
    background-repeat: no-repeat;
    background-position: center center ;
}

.text-whats{
    grid-column: 2;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 96%;
    display: flex; 
    align-items: center;
    text-align: center;
    color: #30073B;
}