#descContainer {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 99999;
    opacity: 0;
    transition:all .5s;
  }
  #descContainer div {
    display: none;
    transform: scale(0.8);
    padding: 1rem .5rem;
    animation: fadein .5s ease-in-out;
  }
  #descContainer div div.active{
    display: block;
  }
  #descContainer.overlay-active {
    display: flex;
    opacity: 1;   

  }

  @keyframes fadein {
      from{
          opacity: 0;
      }
      to{
          opacity: 1;
      }
  }